*.DS_Store
*.pyc
*.swp
.idea/
.vscode/
config
venv/
__pycache__

# Jupyter specific files
.ipynb_checkpoints

# Some data files
S18/Projects/FacialRecognition/Session_3/data.npy
S18/Projects/FacialRecognition/Session_3/data.tsv

# API Creds
F18/Projects/ml-reddit-bot/lesson-2/reddit_creds.py
