blis==0.4.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cymem==2.0.2
en-core-web-sm==2.2.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
murmurhash==1.0.2
numpy==1.17.3
plac==0.9.6
praw==6.4.0
prawcore==1.0.1
preshed==3.0.2
requests==2.22.0
six==1.12.0
spacy==2.2.1
srsly==0.2.0
thinc==7.1.1
tqdm==4.36.1
update-checker==0.16
urllib3==1.25.6
wasabi==0.3.0
websocket-client==0.56.0
Werkzeug==0.16.0
